/*@font-face {
  font-family: "Just a Bear";
  font-style: normal;
  font-weight: 400;
  src: local('Traveling _Typewriter'),
      local('Traveling_Typewriter-Regular'),
      url(../fonts/traveling-_typewriter.woff) format('woff'),
      url(../fonts/traveling-_typewriter.ttf) format('truetype')
}
*/