@media (max-width: 992px){

}

@media (max-width: 768px){

	.icon-img {
	  width: 15%;
	}

}

@media (max-width: 567px){
	main {
		margin-top: 12px;
		border-top: 0;
	}

.fa-bars {
	text-shadow: 0 0 40px white;
	box-shadow: 0 0 15px rgba(255, 240, 211, 1);
	font-size: 2em !important;
	background-color: rgba(255, 240, 211, .9);
	padding: 10px 20px;
	margin-bottom: 0px;
}
.navbar-toggler {
  padding: 0px !important;
}

.navbar-collapse {
	background-color: rgba(255, 240, 211, .9);
	padding-left: 13px !important;
	margin-top: 0px;
	box-shadow: 0 0 15px rgba(255, 240, 211, 1);
}

.navbar {
	padding: 0px;
}

	.logo {
		width: 70%;
		padding: 0;
	}


	.fa-bars {
	  font-size: 2em;
	  color: rgba(255, 165, 0, 1);
	}

	.fa-link, .fa-envelope, .fa-wrench {
		font-size: 2.3em;
  	margin-bottom: 10px;
	}

	.icon-img {
	  width: 25%;
	}

	h1 {
		font-size: 1.2em;
	}

	.angebot p {
	  font-size: 1em;
	}

	.card-body {
		padding: 15px;
		margin-top: -20px;
	}

	.kontakt p {
	  font-size: 1em;
	}

	.navbar-dark .navbar-nav .nav-link {
	  font-size: 1em;
	}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.modalDialog > div {
  width: 95vw;
  height: 95vh;
  position: relative;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
}

	.close-x {
		font-size: 1.7em;
	}

	.portfolio h1 {
		margin-bottom: 10px;
	}

	.panel-button {
		font-size: 1.1em;
		margin: auto auto;
	}

}
