@media (max-width: 992px){

	.footer-logo {
	  width: 300px;
	  position: absolute;
	  bottom: -100px;
	  right: -80px;
	}
}

@media (max-width: 768px){

	.icon-img {
	  width: 15%;
	}

	.footer-logo {
	  width: 250px;
	  position: relative;
	  bottom: -100px;
	  right: -30px;
	  margin-top: -30px;
	}

	.speechbubble {
	  position: absolute;
	  right: 30%;
	  bottom: 25%;
	  z-index: 1;
	  width: 200px;
	}
}

@media (max-width: 567px){
	main {
		margin-top: 12px;
		border-top: 0;
	}

	.logo {
		padding: 10px 50px;
	}


	.fa-bars {
	  font-size: 2em;
	  color: rgba(255, 165, 0, 1);
	}

	.icon-img {
	  width: 25%;
	}

	h1 {
		font-size: 1.5em;
	}

	.angebot p {
	  font-size: 1em;
	}

	.kontakt p {
	  font-size: 1em;
	}

	.navbar-dark .navbar-nav .nav-link {
	  font-size: 1em;
	}

	.navbar-dark {
		background-color: rgba(255, 255, 255, .95);
	}

	.modalDialog > div {
	  width: 90vw;
	  height: 90vh;
	  position: relative;
	  margin: 5% auto;
	  padding: 15px;
	  background-color: white;
	}

	.close-x {
		font-size: 1.7em;
	}

	.portfolio h1 {
		margin-bottom: 10px;
	}

}
