html, body {
  overflow-x: hidden;
  font-family: 'Esteban', serif;
  hyphens: manual;
  height: 100%;
}

.navbar-dark {
  background-color: #f09f09;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  box-shadow: .1px .1px 1px white;
}

.start {
  height: 100vh;
  background-color: #FFF0D3;
}

.arrow {
  font-size: 3em;
  margin-top: -140px;
  margin-bottom: 130px;
  color: #f09f09;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;   
}

.angebot p {
  font-family: 'Esteban', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: white;
}

.angebot {
  background-color: #f09f09;
  color: white;
  height: auto;
}

.icon-img {
  width: 8%;
}

.icon {
  font-size: 4em;
}

.portfolio h1 {
  font-size: 1.2em;
}

.portfolio {
  color: #f09f09;
  background-color: #FFF0D3;
}

.portfolio-img {
  border: 1px 1px grey;
  box-shadow: 2px 2px 5px rgb(190, 190, 190);
  display: block;
  width: 100%;
  height: auto;
}

.wrap {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  transition: .5s ease;
  background-color: #f09f09;
}

.wrap:hover .overlay {
  opacity: 0;
}

.text {
  color: white;
  font-size: .85em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
}

.kontakt {
  background-color: #f09f09;
  color: #f09f09;
  height: 100vh;
}

.kontakt p {
  font-family: 'Esteban', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #f09f09;
}

/*
.rgba-primary-0 { color: rgba(255,165,  0,1); } 
.rgba-primary-1 { color: rgba(255,200, 99,1); }
.rgba-primary-2 { color: rgba(255,185, 57,1); }
.rgba-primary-3 { color: rgba(197,128,  0,1); }
.rgba-primary-4 { color: rgba(155,100,  0,1); } 
*/


.debug-size {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
}

.debug-size div {
  background: black;
  padding: 20px;
  color: white;
}

